.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav {
  background-color: #bebebe;
  color: #fff;
  padding: 10px;
}

.nav :global(.active) {
  background-color: whitesmoke;
  color: #000;
}
